# BigMart's sales regression

This notebook trains models based on different algorithms in order to make a regression to predict BigMart's sales. This dataset was used for a machine learning competition, so the test set does not have labels. We will train and evaluate the model  by splitting the original train set.

In [7]:
from __future__ import absolute_import, division, print_function

import pathlib

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

import tensorflow as tf
import tensorflow.keras as keras
import tensorflow.keras.layers as layers

print(tf.__version__)

1.13.1

### Loading data

In [4]:
data_set = pd.read_csv('Data/train_modified.csv')
prediction_set = pd.read_csv('Data/test_modified.csv')

In [5]:
data_set.head()

,Item_Weight,Item_Visibility,Item_MRP,Item_Outlet_Sales,Outlet_Age,Item_Id_Type_0,Item_Id_Type_1,Item_Id_Type_2,Item_Fat_Content_0,Item_Fat_Content_1,...,Outlet_0,Outlet_1,Outlet_2,Outlet_3,Outlet_4,Outlet_5,Outlet_6,Outlet_7,Outlet_8,Outlet_9
0,9.30,0.016047,249.8092,3735.1380,14,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,1
1,5.92,0.019278,48.2692,443.4228,24,1,0,0,0,1,...,0,0,0,1,0,0,0,0,0,0
2,17.50,0.016760,141.6180,2097.2700,14,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,1
3,19.20,0.000000,182.0950,732.3800,13,0,1,0,0,1,...,1,0,0,0,0,0,0,0,0,0
4,8.93,0.000000,53.8614,994.7052,2,0,0,1,1,0,...,0,1,0,0,0,0,0,0,0,0

In [6]:
prediction_set.head()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Age,Item_Id_Type_0,Item_Id_Type_1,Item_Id_Type_2,Item_Fat_Content_0,Item_Fat_Content_1,Outlet_Location_Type_0,...,Outlet_0,Outlet_1,Outlet_2,Outlet_3,Outlet_4,Outlet_5,Outlet_6,Outlet_7,Outlet_8,Outlet_9
0,20.750000,0.007565,107.8622,14,0,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,1
1,8.300000,0.038428,87.3198,22,0,1,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
2,14.600000,0.099575,241.7538,13,0,0,1,1,0,0,...,1,0,0,0,0,0,0,0,0,0
3,7.315000,0.015388,155.0340,22,0,1,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
4,12.792854,0.118599,234.2300,0,0,1,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0

### Building models

In [8]:
def build_nn_model():
    model = keras.Sequential([
        layers.Dense(64, activation=tf.nn.relu, input_shape=[len(train_set.keys())]),
        layers.Dense(64, activation=tf.nn.relu),
        layers.Dense(1)
    ])
    
    optimizer = keras.optimizers.Adadelta(0.001)

    model.compile(loss='mean_squared_error',
            optimizer=optimizer,
            metrics=['mean_absolute_error', 'mean_squared_error'])
    return model

In [10]:
model = build_nn_model()
model.summary()

WARNING:tensorflow:From C:\Users\Pedro\AppData\Roaming\Python\Python37\site-packages\tensorflow\python\ops\resource_variable_ops.py:435: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.
WARNING:tensorflow:From C:\Users\Pedro\AppData\Roaming\Python\Python37\site-packages\tensorflow\python\keras\utils\losses_utils.py:170: to_float (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 64)                3072
_________________________________________________________________
dense_1 (Dense)              (None, 64)                4160
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 65
=================================================================
Total params: 7,297
Trainable params: 7,297
Non-trainable params: 0
_________________________________________________________________